.input-field {
    position: relative;
    margin: 20px 0 0 0;
    width: 250px;

    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid black;
    border-radius: 8px;
    padding: 0 8px;
    transition: border-color .2s ease;

    input {
        flex: 1;
        padding: 12px;
        border: none;
        outline: none;
        font-size: 16px;
        background: transparent;
    }

    label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 14px;
        color: #666;
        pointer-events: none;
        transition: top .2s ease, left .2s ease, font-size .2s ease, color .2s ease;
        background-color: inherit;
        z-index: 1;
        padding: 0 4px;
    }

    &.touched {
        border-color: black;

        label {
            color: black;
        }
    }

    &.invalid {
        border-color: #f12828;

        label {
            color: #f12828;
        }
    }

    &.focus {
        border-color: #3f51b5;

        label {
            color: #3f51b5;
        }
    }

    &.invalid,
    &.focus,
    &.touched {
        label {
            top: -10px;
            left: 10px;
            font-size: 12px;
            padding: 0 6px;
            transform: translateY(-0%);
        }
    }
}

.hint{
    color: #f12828;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 8px;
    height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0px 1000px white inset; // überschreibt die gelbe Füllung
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black; // Textfarbe neu setzen
}